page-login {
    .loginBackground {
        background: map-get($colors, secondary);
    }
    .loginText{
        text-align: center;
        margin-top: 15%;
        font-size: 15pt
    }

    .loginImg{
        margin-top: 15%;
    }
}
