<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="loginBackground">
  <div class="loginText">
    <ion-label class="myLabel" color="white">
       PetFinder
    </ion-label>
  </div>
  

  <ion-row center >
    <ion-col text-center>
      <img src="assets/imgs/login_icon.png" class ="loginImg"  />
    </ion-col> 
  </ion-row>
  
  <button ion-button block (click)="loginWithFB()">Login with Facebook</button>
</ion-content>
