<!--
  Generated template for the PetDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="share()">SHARE</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src={{this.petModel.imagePath}} style="width : 100%; height : 250pt"  (click)="openCamera();" >

  <div class="item" style="padding-top: 5pt;padding-left: 5pt;padding-right: 5pt">
    <span >{{this.petModel.name}}</span>
    <span style="float:right">{{this.petModel.age}} Anos</span>
  </div>
  
  <div class="item" style="padding-top: 5pt;padding-left: 5pt;padding-right: 5pt">
    <span >{{this.petModel.description}}</span>
  </div>

  <div class="item" style="padding-top: 5pt;padding-left: 5pt;padding-right: 5pt">
    <span >{{this.petModel.animalType}}</span>
    <span style="float:right">Sexo: {{this.petModel.sex}}</span>
  </div>

  <p style="padding-top: 5pt;padding-left: 5pt;padding-right: 5pt">Telefone: {{this.petModel.cellphone}}</p>

  <div id="map_canvas" style="height: 150pt; width: 250pt; margin: 0 auto; "></div>
</ion-content>
