<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addPet()"><ion-icon name="add"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let item of homeList" (tap) = "onCardTapped(item)">
        <img src="{{item.imagePath}}"/>
            <ion-card-content>
              <ion-card-title>
                  {{item.name}}
                </ion-card-title>
              <p>
                {{item.description}}
              </p>
            </ion-card-content>

    </ion-card>
</ion-content>
