<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pets perto de você</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<div id="map_canvas"></div>
</ion-content>
