<!--
  Generated template for the AddPetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addPet</ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="close()">FECHAR</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>
<meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src 'self' 'unsafe-inline' *">

<ion-content padding>
    <ion-row center>
        <ion-col text-center>
            <img src={{this.imagePath}} style="width : 150pt; height : 150pt"  (click)="openCamera();" >
           </ion-col> 
      </ion-row>

    <ion-item style="margin-top: 15pt"> 
      <ion-input placeholder="Nome" clearInput [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item style="margin-top: 15pt">
      <ion-input placeholder="Breve descrição do animal" clearInput [(ngModel)]="description"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 15pt">
        <ion-input placeholder="Tipo do animal" clearInput [(ngModel)]="animal"></ion-input>
      </ion-item>

    <ion-item style="margin-top: 15pt">
        <ion-input placeholder="Raça" clearInput [(ngModel)]="race"></ion-input>
      </ion-item>

    <ion-item style="margin-top: 15pt">
      <ion-input placeholder="Sexo" clearInput [(ngModel)]="sex"></ion-input>
    </ion-item>
    
    <ion-item style="margin-top: 15pt"> 
      <ion-input placeholder="Idade" clearInput [(ngModel)]="age" type="number"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 15pt"> 
        <ion-input placeholder="Telefone" clearInput [(ngModel)]="telefone" type="text"></ion-input>
      </ion-item>

    <ion-row center>
        <ion-col text-center>
          <button ion-button clear center (click)="saveData()" color="primary" style="font-weight: light; font-size: 20px">Cadastrar Pet</button>
        </ion-col> 
      </ion-row>
</ion-content>
